.container-fluid {
    background-color: #010449
}

.msg-form {
    background-color: white;
    padding: 20px
}

.pad-icon {
    padding-top: 50px;
    padding-left: 20px
}

.pad-icon a {
    text-decoration: none;
    margin-right: 40px
}
.input-group input:focus {
    border: 1px solid blue
}

.pad-icon a:active {
    height: 30px;
    width: 30px;
    background-color: #0080ff;
    border-radius: 100%
}

.links {
    padding-top: 50px;
    width: 50%
}

#bordering a:active {
    border: 1px solid #0080ff
}

@media(min-width:568px) {
    .container-fluid {
        margin: 100px 30px;
        width: 96%;
        padding-top: 50px;
        padding-bottom: 50px
    }
}

@media(max-width:567px) {
    .container-fluid {
        margin: 10px 10px;
        width: 94%;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .pad {
        padding-top: 20px
    }
}
 

.container1{
  background-image: url(https://i.gifer.com/GtwT.gif);
    height: 600px;
    background-position: center;
    background-size: cover;
   
}
.text-center{
    color: #0080ff;
    font-family: sans-serif;
    font-weight: 600;
} 


   
.bird{
    background-image: url(https://c.tenor.com/OwP0Pmwbcr4AAAAj/birds-flying.gif);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px;
    

}
